extend ../../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 名称
						th 价格(元)
						th 报销日期
						th 报销使用的经费卡号
						th 报销给
						th 备注
						th 经办人
				tbody
					each item in invoices
							tr(class="item-id-#{item._id}")
								td #{item.name}
								td #{item.price}
								td #{moment(item.date).format('YYYY/MM/DD')}
								td #{item.useCard}
								td #{item.toWho}
								td #{item.remark}
								td #{item.manager}
			a(href="invoice/add") 添加新的记录