extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 名称
						th 价格(元)
						th 购买日期
						th 详情
						th 有无发票
						th 购买者
				tbody
					each item in records
						//-代码重复太多，但是不知道如何修改。
						if(item.needpaid)
							tr.danger(class="item-id-#{item._id}")
								td #{item.name}
								td #{item.price}
								td #{moment(item.date).format('YYYY/MM/DD')}
								td #{item.remark}
								if (item.invoice != "有")
									td
										span.glyphicon.glyphicon-remove
								else
									td
										span.glyphicon.glyphicon-ok
								td #{item.purchaser}
						else
							tr(class="item-id-#{item._id}")
								td #{item.name}
								td #{item.price}
								td #{moment(item.date).format('YYYY/MM/DD')}
								td #{item.remark}
								if (item.invoice != "有")
									td
										span.glyphicon.glyphicon-remove
								else
									td
										span.glyphicon.glyphicon-ok
								td #{item.purchaser}
			a(href="add") 添加新的记录