extend ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/record/new")
				.form-group
					lable.col-sm-1.control-label(for="inputName") 名称
					.col-sm-10
						input#inputTitle.form-control(type="text", name="name", value="#{record.name}")
				.form-group
					lable.col-sm-1.control-label(for="inputPrice") 价格
					.col-sm-10
						input#inputTitle.form-control(type="text", name="price", value="#{record.price}")
				.form-group
					lable.col-sm-1.control-label(for="inputDate") 购买日期
					.col-sm-10
						input#inputTitle.form-control(type="date", name="date", value="#{record.date}", placeholder="年/月/日")
				.form-group
					lable.col-sm-1.control-label(for="inputPurchaser") 购买者
					.col-sm-10
						input#inputTitle.form-control(type="text", name="purchaser", value="#{record.purchaser}")
				.form-group
					lable.col-sm-1.control-label(for="inputRemark") 备注
					.col-sm-10
						input#inputTitle.form-control(type="text", name="remark", value="#{record.remark}")
				.form-group
					.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type="submit") 记录