extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 名称
						th 价格
						th 购买日期
						th 详情
						th 购买者
				tbody
					each item in records
						tr(class="item-id-#{item._id}")
							td #{item.name}
							td #{item.price}
							td #{moment(item.date).format('MM/DD/YYYY')}
							td #{item.remark}
							td #{item.purchaser}
			a(href="add") 添加新的记录